body{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 120px 400px 200px 200px 200px 100px;
}
body >*{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Header{
    background-color: rgb(175, 170, 170);
    grid-column: 1/5;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#Header > #LOGO{
    flex-direction: column;
    padding-left: 8px;
    font-size: 25px;
    line-height: 1px;
 }
#Header > #LOGO > p:nth-child(1){
    padding-top: -3px;
    font-size: 32px;
    text-shadow: 2px rgb(8, 32, 100);
 }
#Header > #LOGO > p:nth-child(2){
    padding-left: 14px;
    font-size: 23px;
}
#Header  ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 35px;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-right: 20px;
    font-size: 30px;
}
#Header  ul  li{
    display: flex;
    flex-direction: row;
    margin: 12px;
    letter-spacing: -2px;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Mulish', sans-serif;
}    
#Urunler{
    background-color: rgb(138, 189, 212);
    border-radius: 4px;
    padding: 10px;
}
#Header li:hover{
    opacity: 0.5;
}
#AramaMotoru{
    display: flex;
    flex-direction: row;
    border-radius: 100px;
    padding: 20px;
    position: relative;
    left: 70px;
    width: 270px;
    height: 7px;
    background-color: rgb(238, 229, 229);
    justify-content: center;
    align-items: center;
    font-family: 'Mulish', sans-serif;
 }
#search{
    width: 290px;
    height: 27px;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 100px;
    background-color: rgb(238, 229, 229);
 }   
#Slıder{
    background-color: rgb(236, 226, 226);
    grid-column: 1/5;
    margin-bottom: 5px;
    background-image: url(images/machine-g704ed505e_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#TanıtımMenü{
    background-color: rgb(111, 175, 111);
    grid-column: 2/3;
    border-radius: 40px 40px 40px 40px;     
}
#TanıtımMenü p{
    font-size: 20px;
}
#Main1{
    background-color: rgb(218, 150, 24);
    grid-column: 1/3;
    margin: 5px 10px 5px 0px;
    background-image: url(images/machine-g704ed505e_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Main2{
    background-color: rgb(10, 136, 145);
    grid-column: 3/5;
    margin: 5px 5px 5px 0px;
    background-image: url(images/machine-g704ed505e_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Main3{
    background-color: rgb(131, 23, 23);
    grid-column: 1/2;
    margin: 5px 10px 5px 0px;
    background-image: url(images/machine-g704ed505e_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Main4{
    background-color: rgb(182, 66, 101);
    grid-column: 2/5;
    margin: 5px 5px 5px 0px;
    background-image: url(images/machine-g704ed505e_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Footer{
    background-color: rgb(190, 100, 100);
    grid-column: 1/5;
}